body {
    background-color: rgb(226, 248, 255);
    font-family: Verdana, sans-serif;
}

img {
    border-radius: 25px;
}

h1 {
    color: rgb(255, 125, 125);
}

a {
    color: orange;
}

a:hover {
    color: purple;
}

nav {
    width:fit-content;
    padding: 10px;
    height:auto;
    background-color: gray;
    border-radius: 25px;
}

nav a {
    color: orange;
    font-size: 2em;
}